name: API Runner

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read Authorization header as-is
        run: |
          AUTH_LINE=$(cat auth_file)
          echo "AUTH_LINE=$AUTH_LINE" >> $GITHUB_ENV

      - name: Execute API requests from file
        run: |
          mkdir -p results

          API_FILE="api_requests"

          if [ ! -f "$API_FILE" ]; then
            echo "ERROR: $API_FILE not found!"
            exit 1
          fi

          echo "Using API File: $API_FILE"

          counter=1

          # Split commands by blank line
          csplit -f cmd_ "$API_FILE" '/^$/' '{*}' || true

          for file in cmd_*; do
            if [ ! -s "$file" ]; then continue; fi;

            echo "Running request #$counter"

            # Inject full Authorizat
